.promoHero {
  width: 100%;
  position: relative;
  display: block;
  line-height: 0;
  /* Removes bottom space for inline-block images */
}

.heroImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}